<div class="ui center aligned placeholder segment ui grey segment" style="background-color: black;">
  <div class="inline">
    <div class="ui form">
      <h3 class="ui left header" style="color: white">
        <u>Data Export to CSV File</u>
      </h3>
      <br>
      <div class="inline fields">
        <label style="color: white; width: 10%; text-align: right">Date Range :</label>
        <div class=" six wide field">
          <input type="text" placeholder="Form">
        </div>
        <div class=" six wide field">
          <input type="text" placeholder="To">
        </div>
        <div class="field">
          <button class="ui button" style="color: black">Sumbit</button>
        </div>
      </div>
    </div>
  </div>
</div>

