<div class="ui center aligned placeholder segment ui grey segment" style="background-color: black;">
  <div class="inline">
    <button class="ui button" style="width: 20%;color: black" value="5" (click)="buttonClick(5)">Last 5 Days</button>
    <button class="ui button" style="width: 20%;color: black" value="10" (click)="buttonClick(10)">Last 10 Days</button>
    <button class="ui button" style="width: 20%;color: black" value="30" (click)="buttonClick(30)">Last 30 Days</button>
    <button class="ui button" style="width: 20%;color: black" value="90" (click)="buttonClick(90)">Last 90 Days</button>
  </div>
  <h4 class="ui left header" style="color: white">
    <u>{{currentSearch}}</u>
  </h4>
</div>


<div class="row" style="margin-right: 1%; margin-left: 1%; background-color: black">
  <div class="col-md-12">
    <div style="display: block;">
      <canvas baseChart width="400" height="600" id="eur"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
    </div>
  </div>
</div>


<div class="ui center aligned placeholder segment" style="background-color: black;">
  <h4 class="ui left header" style="color: white">
    <u id="longerChartText">{{longTermChart}} – Longer Term Chart</u>
  </h4>
  <div class="inline">
    <div class="ui form">
      <div class="inline fields">
        <label style="color: white; width: 10%; text-align: right">Update Image URL :</label>
        <div class="twelve wide field">
          <input style="" type="text" placeholder="URL" id="url">
        </div>
        <div class="field">
          <button class="ui button" style="color: black" (click)="changeImage()">Update</button>
        </div>
      </div>
    </div>
  </div>
  <img  id="image" style="max-height: 500px; max-width: 90%">
</div>
