<div class="ui center aligned placeholder segment ui grey segment" style="background-color: black;">
  <div class="inline">
    <button class="ui button" style="width: 20%;color: black">Last 5 Days</button>
    <button class="ui button" style="width: 20%;color: black">Last 10 Days</button>
    <button class="ui button" style="width: 20%;color: black">Last 30 Days</button>
    <button class="ui button" style="width: 20%;color: black">Last 90 Days</button>
  </div>
  <h4 class="ui left header" style="color: white">
    <u>EURUSD – 30 Days</u>
  </h4>
</div>
<div class="ui center aligned placeholder segment" style="background-color: black;">
  <h4 class="ui left header" style="color: white">
    <u>EURUSD – Longer Term Chart</u>
  </h4>
  <div class="inline">
    <div class="ui form">
      <div class="inline fields">
        <label style="color: white; width: 10%; text-align: right">Update Image URL :</label>
        <div class="twelve wide field">
          <input style="" type="text" placeholder="Form">
        </div>
        <div class="field">
          <button class="ui button" style="color: black">Update</button>
        </div>
      </div>
    </div>
  </div>
  <img src="../../assets/charts.png">
</div>
