<div class="ui center aligned placeholder segment" style="background-color: black;">
  <div class="inline">
    <select class="ui dropdown" style="width: 20%;">
      <option value="MR">UERUSD</option>
      <option value="MRS">USDJPY</option>
      <option value="MISS">GBP USD</option>
      <option value="MSTR">US 500</option>
      <option value="DR">USOIL</option>
      <option value="DR">USDCAD</option>
      <option value="DR">AUDUSD</option>
      <option value="DR">NZDUSD</option>
      <option value="DR">Bitcoin</option>
      <option value="DR">Ethereum</option>
    </select>&nbsp;
    <!--charts-->
    <button class="ui blue button" style="width: 20%;" routerLink="charts">Charts</button>
    <button class="ui blue button" style="width: 20%;" routerLink="dataPull">Data Pull</button>
    <button class="ui blue button" style="width: 20%" routerLink="dataStream">Data Stream</button>
  </div>
</div>


