<div class="ui center aligned placeholder ui grey segment" style="background-color: black;">
  <table class="ui inverted table">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Short Value</th>
      <th>Change Open Interest</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">
      <td>{{row.symbol}}</td>
      <td>{{row.bid}}</td>
      <td>{{row.ask}}</td>
      <td>{{row.shortValue}}</td>
      <td>{{row.changeOpenInterest}}</td>
      <td>{{row.date}}</td>
    </tr>
    </tbody>
  </table>
</div>
